@import "config";
@import "mixins";
@import "brand";


body {
   color: $textColor;
   font-family: $sanSerifFont;
   margin: 0;
   padding: 0;
   display: flex;
   @include flex-direction(column);
   @include justify-content(space-between);

   // https://css-tricks.com/fun-viewport-units/
   font-size: calc(16px + 0.5vw);
   background-color: $backgroundColor;


   >nav, >footer {
      background-color: $darkestColor;
      color: $textOnDarkColor;
   }

   >nav, #racing-stripe {
      width: 100%;
      position: fixed;
      z-index: 100;
   }

   #racing-stripe {
      height: $stripeHeight;
      background-color: $highlightColor;
   }

   >nav {
      top: $stripeHeight;
      height: $navHeight;
   }

   main {
      background-color: $backgroundColor;
   }

   footer > .content {
      @include flex-direction(row);
      @include justify-content(space-between);
      padding: 1em;
      p {
         display: block;
      }
      ul {
         display: block;
      }
      svg.frog {
         width: 100px;
      }

      a { color: $lightestLinkColor; }

      .copyright {
         font-size: 1rem;
         text-align: center;
      }
   }
}

.content {
   display: flex;
   margin: 0 auto;
   max-width: $contentWidth;
}

a {
   color: $linkColor;
   text-decoration: none;
   cursor: pointer;

   &:hover {
      text-decoration: underline;
      @include text-decoration-skip(ink);
   }
}

svg {
   fill: currentColor;
}

figure { margin: 0; padding: 0; }

h1, h2, h3, h4 {
   font-family: $sanSerifFont;
   font-weight: normal;
}

input, button, select {
   font-size: $formFontSize;
   font-family: $sanSerifFont;
}