@import "brand";

$backgroundColor: #C2C1BA;

$lightColor: desaturate(lighten($backgroundColor, 10%), 5%);
$lightDisabledColor: desaturate(darken($lightColor, 10%), 5%);

$darkColor: darken($backgroundColor, 15%);
$darkerColor: darken($backgroundColor, 30%);
$darkestColor: darken($backgroundColor, 50%);
$darkDisabledColor: desaturate($darkColor, 3%);

$textColor: #222;
$textOnDarkColor: #ddd;
$trimColor: #bab698;
$errorColor: #700;

$linkColor: $darkerPrimary;
$lightLinkColor: lighten($linkColor, 10%);
$lighterLinkColor: lighten($linkColor, 30%);
$lightestLinkColor: saturate(lighten($linkColor, 50%), 20%);

$space: 10px;

$tablet-width: 768px;
$desktop-width: 1024px;
$formFontSize: 30px;
$formBackColor: #eee;

$stripeHeight: 4px;
$navHeight: 2.5em;
$headHeight: calc(#{$stripeHeight} + #{$navHeight});
//$headHeight: calc(2.5em + 4px);
$contentWidth: 1024px;

$serifFont: "Georgia", "Times New Roman", "Times", serif;

// https://css-tricks.com/snippets/css/system-font-stack/
// https://www.smashingmagazine.com/2015/11/using-system-ui-fonts-practical-guide/
$sanSerifFont: -apple-system, BlinkMacSystemFont,
   "Segoe UI", "Roboto", "Oxygen",
   "Ubuntu", "Cantarell", "Fira Sans",
   "Droid Sans", "Helvetica Neue", sans-serif;

$titleFont: "Yanone Kaffeesatz", $sanSerifFont;

@mixin phone {
   @media (max-width: #{$tablet-width - 1px}) {
      @content;
   }
}

@mixin tablet {
   @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
      @content;
   }
}

@mixin desktop {
   @media (min-width: #{$desktop-width}) {
      @content;
   }
}