@import "brand";

.heroicon-outline {
   fill: $darkestColor;
}

.heroicon-component-fill {
   fill: white;
}

.heroicon-component-accent {
   fill: $darkPrimary;
}

.heroicon-shadows {
   fill: #626262;
   opacity: .5;
}