@import "config";
@import "mixins";

body > nav {
   @include box-shadow(8px);

   img.logo {
      position: absolute;
      height: calc(#{$navHeight} - 10px);
      top: 5px;
      left: 5px;
   }

   .content {
      @include flex-direction(row);
      @include justify-content(space-between);

      a.styled-name {
         display: flex;
         @include flex-direction(row);
         margin: 0 0.5em 0;
         line-height: $navHeight;

         h1, h2 {
            margin: 0;
            padding: 0;
            display: inline;
            font-weight: normal;
            font-family: $titleFont;
            text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
         }
         h1 {
            color: #fff;
            font-size: 3rem;
         }
         h2 {
            text-transform: uppercase;
            //font-variant: small-caps;
            font-size: 2.2rem;
            padding-left: 1rem;
            line-height: 1.8em;
            letter-spacing: 0.5rem;
            color: $backgroundColor;
            @include transition(text-shadow 0.3s ease);
         }
         &:hover {
            text-decoration: none;
            h2 {
               color: #ffe;
               text-shadow: 0 0 7px $highlightColor;
            }
         }
      }

      >ul.menu {
         display: flex;
         @include flex-direction(row);
         list-style: none;
         margin: 0;
         padding: 0;

         li {
            display: block;
            cursor: pointer;
            position: relative;
            margin: 0;
            padding: 0;
            line-height: $navHeight;
            //@include transition(background-color 0s);

            p {
               display: inline-block;
               padding: 0 1em;
               margin: 0;
            }

            >.material-icons {
               padding: 0 0.5em 0 0;
               margin: 0;
               vertical-align: text-bottom;
               &.on { display: none; }
            }

            >ul {
               position: absolute;
               top: $navHeight;
               left: -1px;
               display: none;
               margin: 0;
               padding: 0;
               list-style: none;
               flex-direction: column;
               background-color: $lightColor;
               border: 1px solid $darkerColor;
               border-top: none;

               >li {
                  font-size: 0.8em;
                  white-space: nowrap;
                  margin: 0;
                  padding: 0 1.4em;

                  &:hover {
                     background-color: $darkColor;
                     .material-icons { color: $lightColor; }
                  }

                  .material-icons {
                     float: right;
                     padding: 5px 0 0;
                     color: $darkColor;
                     //@include transition(color 0.5s ease);
                  }

                  &.note {
                     color: $darkerColor;
                     border-top: 1px solid $darkerColor;
                     background-color: $darkColor;
                     font-size: 0.7em;
                     text-align: center;
                     cursor: default;

                     .material-icons {
                        font-size: 1.3em;
                        float: none;
                        color: inherit;
                        line-height: 1em;
                        padding: 0 0.5em 0;
                     }
                  }
               }
            }

            &:hover {
               background-color: $lightColor;
               color: $textColor;

               >ul {
                  display: flex;
               }
               >.material-icons {
                  &.on { display: inline-block; }
                  &.off { display: none; }
               }
            }

            &.parent {
               p { padding-right: 0; }
               &:hover {
                  @include box-shadow();
               }
            }

            // Reduce right padding on product menu to better align free icon.
            &.products {
               >ul>li {
                  padding-right: 0.5em;
               }
            }
         }
      }
   }
}