@import "config";
@import "common";
@import "navbar";
@import "heroicon";

// 2:5 ratio
$heroHeight: 40vw;

figure.hero {
   margin-top: $headHeight;
   width: 100vw;
   height: $heroHeight;
   overflow: hidden;
   position: fixed;
   display: block;

   #tout, #demo, img, figcaption { position: absolute; }
   #tout, #demo, figcaption { z-index: 75; }

   #tout {
      margin: 2em 0;
      width: 100%;
      background-color: rgba(255, 255, 255, 0.2);
      @include transition(background-color .2s ease);

      .content {
         font-size: 1em;
         text-align: center;
         flex-direction: column;

         >div {
            display: flex;
            @include flex-direction(row);
            margin: 1em 0;

            p {
               //font-family: $serifFont;
               color: $darkestColor;
               text-align: left;
               margin: 0 0.5em;
            }
         }

         ul {
            display: flex;
            @include flex-direction(row);
            @include justify-content(space-around);
            list-style: none;
            padding: 0;
            margin: 0 0.5em 1.4em;

            li {
               padding: 0;
               letter-spacing: -1px;
               font-size: 0.9em;
               display: inline-block;
               white-space: nowrap;
               //a { color: darken($navColor, 10%); }
            }
         }
      }

      &:hover {
         background-color: rgba(255, 255, 255, 0.5);
      }
   }

   #demo {
      width: 20vw;
      margin: 0 40vw;
      //padding: 2em;
      text-align: center;
      bottom: 2em;
      background-color: rgba(255, 255, 255, 0.5);
      @include rounded(2em);
      //@include box-shadow(10px, 0.8);
      @include transition(background-color .2s ease);

      a {
         font-weight: bold;
         display: block;
         padding: 0.7em 0.7em 0;
      }

      .material-icons {
         display: block;
         font-size: 2em;
         color: $linkColor;
      }

      &:hover {
         background-color: rgba(255, 255, 255, 0.8);
      }
   }

   img {
      top: 0;
      width: 100%;
   }
   figcaption {
      bottom: 10px;
      right: 1em;
      text-shadow: 0 0 3px rgba(0, 0, 0, 1);
      color: $lightColor;
   }
}

body>main {
   z-index: 75;

   section {
      padding: 0.5em 1.5em;
      margin-bottom: 1em;
      background-color: $lightColor;
      position: relative;

      .content {
         flex-direction: column;
      }

      h1 {
         text-align: center;
         font-family: $titleFont;
         font-size: 2em;
         margin: 0.25em 0 0;
         a {
            // these are anchor tags not links
            color: $darkHighlight;
            &:hover { text-decoration: none; }
         }
      }
      svg {
         position: absolute;
         right: 1em;
         font-size: 3em;
         @include transition(color .5s ease);
      }

      &:hover {
         .material-icons {
            color: $highlightColor;
         }
      }

      &.introduction {
         display: flex;
         flex-direction: row;
         background: none;
      }
   }

   &.home {
      margin-top: calc(#{$heroHeight} + #{$headHeight});
   }

   &.about {

   }
}