{{ template "top.html" . }}

<div id="content" class="about">
<p>Toba was motivated by <i>marketecture</i>.</p>

<p><i>Marketecture</i> can simply mean marketing that&rsquo;s tailored
to different audiences. No problem there. But in our decades of combined enterprise
experience, what it too often meant was a sales process powered by software a lot
more sophisticated than the product we actually purchased.</p>

<p>It wasn&rsquor;t unusual to see vendor marketing websites running technology and techniques ten
years newer than they&rsquo;re actual product.</p>

<p>It wasn&rsquo;t &ldquo;bait-and-switch&rdquo; so much as smoothing over difficult
integration and operations issues.</p>

<p>Toba Technology gestated a couple years before becoming official in 2018.</p>

</div>

{{ template "bottom.html" . }}