      <footer>
         <div class="content">
            <p class="copyright">&copy; {{T "copyright" 2017}} {{T "company_name"}}<br/>{{T "all_rights_reserved"}}</p>
            <ul>
               <li>Careers</li>
               <li><a href="/contact/">{{T "contact_us"}}</a></li>
               <li><a href="/privacy/">{{T "privacy_policy"}}</a></li>
            </ul>
             {{ template "logo.svg" }}
         <div class="content">
      </footer>
   </body>
</html>