{{ template "top.html" . }}

{{ $exc := "executives" }}
{{ $mgr := "managers" }}
{{ $sec := "security" }}
{{ $ops := "operations" }}
{{ $hlp := "service-desk" }}
   <figure class="hero">
      <div id="tout">
         <div class="content">
            <div>
               <p>{{T "tout1"}}</p>
               <p>{{T "tout2"}}</p>
            </div>
            <ul>
               <li><a href="#{{ $exc }}">{{T "executives"}}</a></li>
               <li><a href="#{{ $mgr }}">{{T "managers"}}</a></li>
               <li><a href="#{{ $sec }}">{{T "security"}}</a></li>
               <li><a href="#{{ $ops }}">{{T "operations"}}</a></li>
               <li><a href="#{{ $hlp }}">{{T "service_desk"}}</a></li>
            </ul>
         </div>
      </div>
      <div id="social-media"></div>
      <div id="demo">
         <a href="/download/">{{T "download_demo"}}</a>
         {{icon "file_download"}}
      </div>

      {{/* https://cloudfour.com/thinks/responsive-images-101-part-5-sizes/ */}}
      <img src="/img/hero/high-road_small.jpg"/>
      <figcaption>Railroad Ridge in Idaho</figcaption>
   </figure>
   <main class="home">
      <section class="introduction">
         {{ template "heroicon-award-lg.svg" }}
         <div class="content">       
         <p>Toba is focused on elegant solutions built on solid, modern principles.
         We&rsquo;ve brought the best cloud innovations on-premise, like realtime
         user interfaces and data, and expertly designed mobile views.</p>

         <p>But we didn&rsquo;t stop there. We also wanted to address hidden integration and
         operations costs. So we dedicated a year of engineering to the underlying platform
         so it could be deployed as a single, high performance executable file with zero
         dependencies.</p>
         </div>
      </section>

      <section class="{{ $exc }}">
         {{ template "heroicon-chart-lg.svg" }}
         <div class="content">
            <h1><a name="{{ $exc }}">{{T "executives"}}</a></h1>
            <ul>
               <li>Clear and meaningful metrics</li>
               <li>Presentation-ready charts and graphs</li>
            </ul>
         </div>
      </section>

      <section class="{{ $mgr }}">
         {{ template "heroicon-form-lg.svg" }}
         <div class="content">            
            <h1><a name="{{ $mgr }}">{{T "managers"}}</a></h1>
            <ul>
               <li>Audit logs</li>
               <li>User permissions based on existing AD/LDAP group provisioning</li>
            </ul>
         </div>
      </section>

      <section class="{{ $sec }}">
         {{ template "heroicon-shield-lock-lg.svg" }}
         <div class="content">            
            <h1><a name="{{ $sec }}">{{T "security"}}</a></h1>
            <ul>
               <li>TLS enabled by default</li>
               <li>Single sign-on with your enterprise AD/LDAP means no credentials are stored</li>
               <li>Requires no Internet access or external ports</li>
               <li>Custom web server completely ignores unknown paths, minimizing attack surface</li>
            </ul>
         </div>
      </section>

      <section class="{{ $ops }}">
         {{ template "heroicon-multitask-knife-lg.svg" }}
         <div class="content">            
            <h1><a name="{{ $ops }}">{{T "operations"}}</a></h1>
            <ul>
               <li>Entire platform is a single executable file</li>
               <li>Runs on Linux, Windows or MacOS</li>
               <li>No Internet access or external ports to configure</li>
               <li>Health check endpoint built-in</li>
            </ul>
         </div>
      </section>

      <section class="{{ $hlp }}-desk">
         {{ template "heroicon-headset-lg.svg" }}
         <div class="content">            
            <h1><a name="{{ $hlp }}">{{T "service_desk"}}</a></h1>
            <ul>
               <li>Provides self-help to reduce support calls</li>
            </ul>
         </div>
      </section>
   </main>
{{ template "bottom.html" . }}
