   <nav>
      <div class="content">
         <a class="styled-name" href="/">
            <h1>Toba</h1><h2>Technology</h2>
         </a>
         <ul class="menu">
            <li class="parent products"><p>Products</p> {{iconCSS "keyboard_arrow_right" "off"}} {{iconCSS "keyboard_arrow_down" "on"}}
               <ul>
               {{ range $path, $product := .Products }}
                  <li data-href="/product/{{ $path }}/">{{ $product.Name }}{{ if $product.Free }}{{icon "card_giftcard"}}{{ end }}</li>
               {{ end }}
                  <li class="note">{{icon "card_giftcard"}} free &ndash; enjoy</li>
               </ul>
            </li>
            <li class="parent company"><p>Company</p> {{iconCSS "keyboard_arrow_right" "off"}} {{iconCSS "keyboard_arrow_down" "on"}}
               <ul>
                  <li data-href="/about/">About</li>
                  <li data-href="/contact/">Contact</li>
               </ul>
            </li>
            <li><p>Articles</p></li>
         </ul>
      </div>
   </nav>