<html>
   <head>
      <title>{{T "company_name"}}</title>
      <meta name="mobile-web-app-capable" content="yes">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta property="og:site_name" content="Toba" />
      <meta name="description" property="og:description" content="" />
      <link href="/img/favicon.ico" rel="shortcut icon"/>
      <link href="/img/favicon.ico" rel="icon" type="image/vnd.microsoft.icon"/>
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons|Yanone+Kaffeesatz" rel="stylesheet">
      <link href="/css/{{.Group}}.css" rel="stylesheet" type="text/css"/>
      <script src="/js/{{.Group}}.js" type='text/javascript'></script>
     <!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" type='text/javascript' defer></script> -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-106905645-1"></script>
      <script>
         window.dataLayer = window.dataLayer || [];
         function gtag(){dataLayer.push(arguments)};
         gtag('js', new Date());
         gtag('config', 'UA-106905645-1');
      </script>
   </head>
<body>
   <div id="racing-stripe"></div>
{{ template "navbar.html" . }}
