.container {
    max-width: 900px;
    margin-top: 60px;
    text-align: center;
}

.heroicon-container{
	height: 160px;
	font-size: 14px;
}

.heroicon {
	margin-bottom: 15px;
}

.heroicon-class {
    display: block;
    text-align: center;
    word-wrap: break-word
}
