$primary-color: #7ACFC0;
$outline-color: adjust-color($primary-color, $saturation: -75%, $lightness: -26%);
$fill-color: adjust-color($primary-color, $saturation: -82%, $lightness: 50%);

body { background-color: adjust-color($primary-color, $saturation: -82%, $lightness: 30%); }

.heroicon- {
	&outline {
		fill: $outline-color;
	}

	&component- {
		&fill {
			fill: $fill-color;
		}
		&accent {
			fill: $primary-color;
		}
	}
	
	&shadows {
		fill: $outline-color; opacity: .4;
	}
}