$primary-color: #5BD0FB;
$outline-color: adjust-color($primary-color, $hue: 60%, $saturation: -30%, $lightness: -26%);
$fill-color: adjust-color($primary-color, $saturation: -82%, $lightness: 50%);

body { background-color: adjust-color($primary-color, $saturation: -35%, $lightness: 30%); }

.heroicon- {
	&outline {
		fill: $outline-color;
	}

	&component- {
		&fill {
			fill: $fill-color;
		}
		&accent {
			fill: $primary-color;
		}
	}
	
	&shadows {
		fill: adjust-color($outline-color, $saturation: -22%, $lightness: -46%); opacity: .2;
	}
}