.heroicon-outline { fill: 000; }
.heroicon-shadows { display: none; }


.heroicon-adjustments-cover-outer { fill: #FFF; }
.heroicon-adjustments-cover-inner { fill: #FFF; }
.heroicon-adjustments-sliders { fill: #FFF; }


.heroicon-anchor-body { fill: #FFF; }
.heroicon-anchor-stock { fill: #FFF; }
.heroicon-anchor-hoops { fill: #FFF; }


.heroicon-announcement-bowl { fill: #FFF; }
.heroicon-announcement-front { fill: #FFF; }
.heroicon-announcement-middle { fill: #FFF; }
.heroicon-announcement-handle { fill: #FFF; }
.heroicon-announcement-back { fill: #FFF; }


.heroicon-api-block-sides { fill: #FFF; }
.heroicon-api-block-top-bottom-right { fill: #FFF; }
.heroicon-api-block-top-bottom-left { fill: #FFF; }
.heroicon-api-block-top-top { fill: #FFF; }


.heroicon-award-ribbon-outer { fill: #FFF; }
.heroicon-award-ribbon-inner { fill: #FFF; }
.heroicon-award-badge-inner { fill: #FFF; }
.heroicon-award-badge-outer { fill: #FFF; }


.heroicon-bell-bowl { fill: #FFF; }
.heroicon-bell-lip { fill: #FFF; }
.heroicon-bell-top { fill: #FFF; }
.heroicon-bell-clapper { fill: #FFF; }


.heroicon-book-cover { fill: #FFF; }
.heroicon-book-binding { fill: #FFF; }
.heroicon-book-bookmark { fill: #FFF; }
.heroicon-book-pages { fill: #FFF; }


.heroicon-briefcase-case { fill: #FFF; }
.heroicon-briefcase-flap-lip { fill: #FFF; }
.heroicon-briefcase-strap { fill: #FFF; }
.heroicon-briefcase-handle { fill: #FFF; }
.heroicon-briefcase-buckle { fill: #FFF; }


.heroicon-browser-interface-background { fill: #FFF; }
.heroicon-browser-interface-body { fill: #FFF; }
.heroicon-browser-interface-sidebar { fill: #FFF; }
.heroicon-browser-interface-top { fill: #FFF; }
.heroicon-browser-menu-bar { fill: #FFF; }
.heroicon-browser-search { fill: #FFF; }


.heroicon-buoy-markers { fill: #FFF; }
.heroicon-buoy-floater { fill: #FFF; }
.heroicon-buoy-rope { fill: #FFF; }


.heroicon-calculator-body { fill: #FFF; }
.heroicon-calculator-top { fill: #FFF; }
.heroicon-calculator-screen { fill: #FFF; }
.heroicon-calculator-buttons-numbers { fill: #FFF; }
.heroicon-calculator-buttons-equations { fill: #FFF; }


.heroicon-calendar-month { fill: #FFF; }
.heroicon-calendar-binding { fill: #FFF; }
.heroicon-calendar-date { fill: #FFF; }
.heroicon-calendar-rings { fill: #FFF; }


.heroicon-camera-top { fill: #FFF; }
.heroicon-camera-body { fill: #FFF; }
.heroicon-camera-buttons { fill: #FFF; }
.heroicon-camera-lens-barrel { fill: #FFF; }
.heroicon-camera-lens-glass { fill: #FFF; }


.heroicon-cart-frame { fill: #FFF; }
.heroicon-cart-basket { fill: #FFF; }
.heroicon-cart-handle { fill: #FFF; }
.heroicon-cart-wheels { fill: #FFF; }


.heroicon-chart-stand { fill: #FFF; }
.heroicon-chart-poster { fill: #FFF; }
.heroicon-chart-stripe { fill: #FFF; }


.heroicon-chat-bubble-back { fill: #FFF; }
.heroicon-chat-bubble-front { fill: #FFF; }
.heroicon-chat-dots-back { fill: #FFF; }
.heroicon-chat-dots-front { fill: #FFF; }


.heroicon-clock-edge { fill: #FFF; }
.heroicon-clock-background { fill: #FFF; }


.heroicon-cloud-background { fill: #FFF; }


.heroicon-cloud-check-background { fill: #FFF; }
.heroicon-cloud-check-circle { fill: #FFF; }
.heroicon-cloud-check-symbol { fill: #FFF; }


.heroicon-cloud-download-background { fill: #FFF; }
.heroicon-cloud-download-arrow { fill: #FFF; }


.heroicon-cloud-lock-background { fill: #FFF; }
.heroicon-cloud-lock-circle { fill: #FFF; }
.heroicon-cloud-lock-symbol { fill: #FFF; }


.heroicon-cloud-minus-background { fill: #FFF; }
.heroicon-cloud-minus-circle { fill: #FFF; }
.heroicon-cloud-minus-symbol { fill: #FFF; }


.heroicon-cloud-plus-background { fill: #FFF; }
.heroicon-cloud-plus-circle { fill: #FFF; }
.heroicon-cloud-plus-symbol { fill: #FFF; }


.heroicon-cloud-search-background { fill: #FFF; }
.heroicon-cloud-search-circle { fill: #FFF; }
.heroicon-cloud-search-symbol { fill: #FFF; }


.heroicon-cloud-sync-background { fill: #FFF; }
.heroicon-cloud-sync-circle { fill: #FFF; }
.heroicon-cloud-sync-symbol { fill: #FFF; }


.heroicon-cloud-upload-background { fill: #FFF; }
.heroicon-cloud-upload-arrow { fill: #FFF; }


.heroicon-cloud-x-background { fill: #FFF; }
.heroicon-cloud-x-circle { fill: #FFF; }
.heroicon-cloud-x-symbol { fill: #FFF; }


.heroicon-code-interface { fill: #FFF; }
.heroicon-code-side { fill: #FFF; }
.heroicon-code-menu-bar { fill: #FFF; }
/*Large icons only*/
.heroicon-code-circle { fill: #FFF; }
.heroicon-code-symbol { fill: #FFF; }


.heroicon-cog-front-outer { fill: #FFF; }
.heroicon-cog-front-inner { fill: #FFF; }
.heroicon-cog-back-outer { fill: #FFF; }
.heroicon-cog-back-inner { fill: #FFF; }


.heroicon-compass-edge { fill: #FFF; }
.heroicon-compass-background { fill: #FFF; }
.heroicon-compass-direction { fill: #FFF; }
.heroicon-compass-needle { fill: #FFF; }


.heroicon-contacts-book-cover { fill: #FFF; }
.heroicon-contacts-book-pages { fill: #FFF; }
.heroicon-contacts-book-binding { fill: #FFF; }
.heroicon-contacts-book-tab-1 { fill: #FFF; }
.heroicon-contacts-book-tab-2 { fill: #FFF; }
.heroicon-contacts-book-tab-3 { fill: #FFF; }
.heroicon-contacts-book-tab-4 { fill: #FFF; } 
/*Large icons only*/
.heroicon-contacts-book-tab-5 { fill: #FFF; }
.heroicon-contacts-book-at-symbol { fill: #FFF; }  


.heroicon-contract-pages { fill: #FFF; }
/*Large icons only*/
.heroicon-contract-pen-housing { fill: #FFF; }
.heroicon-contract-pen-button { fill: #FFF; }
.heroicon-contract-pen-grip { fill: #FFF; }


.heroicon-contract-block-pages { fill: #FFF; }
.heroicon-contract-block-circle { fill: #FFF; }
.heroicon-contract-block-symbol { fill: #FFF; }


.heroicon-couple1-male-top { fill: #FFF; }
.heroicon-couple1-male-collar { fill: #FFF; }
.heroicon-couple1-male-face { fill: #FFF; }
.heroicon-couple1-male-mouth { fill: #FFF; }
.heroicon-couple1-male-hair { fill: #FFF; }
.heroicon-couple1-female-top { fill: #FFF; }
.heroicon-couple1-female-collar { fill: #FFF; }
.heroicon-couple1-female-face { fill: #FFF; }
.heroicon-couple1-female-mouth { fill: #FFF; }
.heroicon-couple1-female-hair { fill: #FFF; }
/*Large icons only*/
.heroicon-couple1-male-teeth { fill: #FFF; }


.heroicon-couple2-male-top { fill: #FFF; }
.heroicon-couple2-male-collar { fill: #FFF; }
.heroicon-couple2-male-face { fill: #FFF; }
.heroicon-couple2-male-mouth { fill: #FFF; }
.heroicon-couple2-male-hair { fill: #FFF; }
.heroicon-couple2-female-top { fill: #FFF; }
.heroicon-couple2-female-collar { fill: #FFF; }
.heroicon-couple2-female-face { fill: #FFF; }
.heroicon-couple2-female-mouth { fill: #FFF; }
.heroicon-couple2-female-hair { fill: #FFF; }
/*Large icons only*/
.heroicon-couple2-male-teeth { fill: #FFF; }


.heroicon-credit-card-background { fill: #FFF; }
.heroicon-credit-card-stripe { fill: #FFF; }
.heroicon-credit-card-code { fill: #FFF; } 
.heroicon-credit-card-mark { fill: #FFF; }
.heroicon-credit-card-signature { fill: #FFF; }


.heroicon-currency-background { fill: #FFF; }
.heroicon-currency-decorative { fill: #FFF; }


.heroicon-database-exterior { fill: #FFF; }
.heroicon-database-interior { fill: #FFF; }


.heroicon-desktop-screen-edge { fill: #FFF; }
.heroicon-desktop-screen { fill: #FFF; }
.heroicon-desktop-stand { fill: #FFF; }


.heroicon-devices-tablet-screen { fill: #FFF; }
.heroicon-devices-phone-screen { fill: #FFF; }
/*Small icons only*/
.heroicon-devices-tablet-edge { fill: #FFF; }
.heroicon-devices-phone-edge { fill: #FFF; }
/*Large icons only*/
.heroicon-devices-tablet-edge-outer { fill: #FFF; }
.heroicon-devices-tablet-edge-inner { fill: #FFF; }
.heroicon-devices-phone-edge-outer { fill: #FFF; }
.heroicon-devices-phone-edge-inner { fill: #FFF; }
.heroicon-devices-tablet-button { fill: #FFF; }
.heroicon-devices-phone-button { fill: #FFF; }


.heroicon-devices-sync-tablet-screen { fill: #FFF; }
.heroicon-devices-sync-phone-screen { fill: #FFF; }
.heroicon-devices-sync-circle { fill: #FFF; }
.heroicon-devices-sync-symbol { fill: #FFF; }
/*Small icons only*/
.heroicon-devices-sync-tablet-edge { fill: #FFF; }
.heroicon-devices-sync-phone-edge { fill: #FFF; }
/*Large icons only*/
.heroicon-devices-sync-tablet-edge-outer { fill: #FFF; }
.heroicon-devices-sync-tablet-edge-inner { fill: #FFF; }
.heroicon-devices-sync-phone-edge-outer { fill: #FFF; }
.heroicon-devices-sync-phone-edge-inner { fill: #FFF; }
.heroicon-devices-sync-tablet-button { fill: #FFF; }
.heroicon-devices-sync-phone-button { fill: #FFF; }


.heroicon-diamond-shape { fill: #FFF; }
/*Large icons only*/
.heroicon-diamond-sparkle { fill: #FFF; }


.heroicon-document-page { fill: #FFF; }
.heroicon-document-fold { fill: #FFF; }


.heroicon-document-check-page { fill: #FFF; }
.heroicon-document-check-fold { fill: #FFF; }
.heroicon-document-check-circle { fill: #FFF; }
.heroicon-document-check-symbol { fill: #FFF; }


.heroicon-document-edit-page { fill: #FFF; }
.heroicon-document-edit-fold { fill: #FFF; }
.heroicon-document-edit-circle { fill: #FFF; }
.heroicon-document-edit-symbol { fill: #FFF; }


.heroicon-document-minus-page { fill: #FFF; }
.heroicon-document-minus-fold { fill: #FFF; }
.heroicon-document-minus-circle { fill: #FFF; }
.heroicon-document-minus-symbol { fill: #FFF; }


.heroicon-document-plus-page { fill: #FFF; }
.heroicon-document-plus-fold { fill: #FFF; }
.heroicon-document-plus-circle { fill: #FFF; }
.heroicon-document-plus-symbol { fill: #FFF; }


.heroicon-document-search-page { fill: #FFF; }
.heroicon-document-search-fold { fill: #FFF; }
.heroicon-document-search-circle { fill: #FFF; }
.heroicon-document-search-symbol { fill: #FFF; }


.heroicon-document-x-page { fill: #FFF; }
.heroicon-document-x-fold { fill: #FFF; }
.heroicon-document-x-circle { fill: #FFF; }
.heroicon-document-x-symbol { fill: #FFF; }


.heroicon-documentation-book-cover { fill: #FFF; }
.heroicon-documentation-book-pages { fill: #FFF; }
.heroicon-documentation-block-sides { fill: #FFF; }
.heroicon-documentation-block-top { fill: #FFF; }


.heroicon-envelope-check-body { fill: #FFF; }
.heroicon-envelope-check-sides { fill: #FFF; }
.heroicon-envelope-check-circle { fill: #FFF; }
.heroicon-envelope-check-symbol { fill: #FFF; }


.heroicon-envelope-closed-body { fill: #FFF; }
.heroicon-envelope-closed-sides { fill: #FFF; }


.heroicon-envelope-edit-body { fill: #FFF; }
.heroicon-envelope-edit-sides { fill: #FFF; }
.heroicon-envelope-edit-circle { fill: #FFF; }
.heroicon-envelope-edit-symbol { fill: #FFF; }


.heroicon-envelope-minus-body { fill: #FFF; }
.heroicon-envelope-minus-sides { fill: #FFF; }
.heroicon-envelope-minus-circle { fill: #FFF; }
.heroicon-envelope-minus-symbol { fill: #FFF; }


.heroicon-envelope-open-body { fill: #FFF; }
.heroicon-envelope-open-document { fill: #FFF; }
.heroicon-envelope-open-sides { fill: #FFF; }


.heroicon-envelope-plus-body { fill: #FFF; }
.heroicon-envelope-plus-sides { fill: #FFF; }
.heroicon-envelope-plus-circle { fill: #FFF; }
.heroicon-envelope-plus-symbol { fill: #FFF; }


.heroicon-envelope-search-body { fill: #FFF; }
.heroicon-envelope-search-sides { fill: #FFF; }
.heroicon-envelope-search-circle { fill: #FFF; }
.heroicon-envelope-search-symbol { fill: #FFF; }


.heroicon-envelope-x-body { fill: #FFF; }
.heroicon-envelope-x-sides { fill: #FFF; }
.heroicon-envelope-x-circle { fill: #FFF; }
.heroicon-envelope-x-symbol { fill: #FFF; }


.heroicon-exclamation-background { fill: #FFF; }
.heroicon-exclamation-mark { fill: #FFF; }


.heroicon-female1-top { fill: #FFF; }
.heroicon-female1-collar { fill: #FFF; }
.heroicon-female1-hair { fill: #FFF; }
.heroicon-female1-face { fill: #FFF; }
.heroicon-female1-mouth { fill: #FFF; }


.heroicon-female2-top { fill: #FFF; }
.heroicon-female2-collar { fill: #FFF; }
.heroicon-female2-hair { fill: #FFF; }
.heroicon-female2-face { fill: #FFF; }
.heroicon-female2-mouth { fill: #FFF; }
/*Large icons only*/
.heroicon-female2-teeth { fill: #FFF; }


.heroicon-flag-pole { fill: #FFF; }
.heroicon-flag-pole-top { fill: #FFF; }
.heroicon-flag-background { fill: #FFF; }
.heroicon-flag-stripes { fill: #FFF; }


.heroicon-folder-tab { fill: #FFF; }
.heroicon-folder-cover { fill: #FFF; }


.heroicon-folder-check-tab { fill: #FFF; }
.heroicon-folder-check-cover { fill: #FFF; } 
.heroicon-folder-check-circle { fill: #FFF; }
.heroicon-folder-check-symbol { fill: #FFF; }


.heroicon-folder-lock-tab { fill: #FFF; }
.heroicon-folder-lock-cover { fill: #FFF; } 
.heroicon-folder-lock-circle { fill: #FFF; }
.heroicon-folder-lock-symbol { fill: #FFF; }


.heroicon-folder-minus-tab { fill: #FFF; }
.heroicon-folder-minus-cover { fill: #FFF; }
.heroicon-folder-minus-circle { fill: #FFF; }
.heroicon-folder-minus-symbol { fill: #FFF; }


.heroicon-folder-parent-tab { fill: #FFF; }
.heroicon-folder-parent-cover { fill: #FFF; }
.heroicon-folder-parent-path { fill: #FFF; }


.heroicon-folder-plus-tab { fill: #FFF; }
.heroicon-folder-plus-cover { fill: #FFF; }
.heroicon-folder-plus-circle { fill: #FFF; }
.heroicon-folder-plus-symbol { fill: #FFF; }


.heroicon-folder-search-tab { fill: #FFF; }
.heroicon-folder-search-cover { fill: #FFF; }
.heroicon-folder-search-circle { fill: #FFF; }
.heroicon-folder-search-symbol { fill: #FFF; }


.heroicon-folder-sync-tab { fill: #FFF; }
.heroicon-folder-sync-cover { fill: #FFF; }
.heroicon-folder-sync-circle { fill: #FFF; }
.heroicon-folder-sync-symbol { fill: #FFF; }


.heroicon-folder-user-tab { fill: #FFF; }
.heroicon-folder-user-cover { fill: #FFF; }
.heroicon-folder-user-circle { fill: #FFF; }
/*Small icons only*/
.heroicon-folder-user-symbol { fill: #FFF; }
/*Large icons only*/
.heroicon-folder-user-top { fill: #FFF; }
.heroicon-folder-user-face { fill: #FFF; }


.heroicon-folder-x-tab { fill: #FFF; }
.heroicon-folder-x-cover { fill: #FFF; }
.heroicon-folder-x-circle { fill: #FFF; }
.heroicon-folder-x-symbol { fill: #FFF; }


.heroicon-form-clipboard { fill: #FFF; }
.heroicon-form-pages { fill: #FFF; }
.heroicon-form-clip { fill: #FFF; }
/*Large icons only*/
.heroicon-form-pen-housing { fill: #FFF; }
.heroicon-form-pen-button { fill: #FFF; }
.heroicon-form-pen-grip { fill: #FFF; }


.heroicon-game-control-housing { fill: #FFF; }
.heroicon-game-control-right-pad-top { fill: #FFF; }
.heroicon-game-control-right-pad-right { fill: #FFF; }
.heroicon-game-control-right-pad-bottom { fill: #FFF; }
.heroicon-game-control-right-pad-left { fill: #FFF; }
.heroicon-game-control-joysticks { fill: #FFF; }
.heroicon-game-control-left-pad { fill: #FFF; }
.heroicon-game-control-button-center-circle { fill: #FFF; }
.heroicon-game-control-buttons-center-square { fill: #FFF; }
/*Large icons only*/
.heroicon-game-control-buttons-top { fill: #FFF; }


.heroicon-gift-box { fill: #FFF; }
.heroicon-gift-bow { fill: #FFF; }


.heroicon-globe-water { fill: #FFF; }
.heroicon-globe-land { fill: #FFF; }
.heroicon-globe-stand { fill: #FFF; }


.heroicon-hand-open-hand { fill: #FFF; }
.heroicon-hand-open-sleeve { fill: #FFF; }


.heroicon-hand-point-sleeve { fill: #FFF; }
.heroicon-hand-point-hand { fill: #FFF; }


.heroicon-hard-drive-casing { fill: #FFF; }
.heroicon-hard-drive-disc-inner { fill: #FFF; }
.heroicon-hard-drive-disc-outer { fill: #FFF; }
.heroicon-hard-drive-arm { fill: #FFF; }
.heroicon-hard-drive-actuator { fill: #FFF; }


.heroicon-headphones-strap { fill: #FFF; }
.heroicon-headphones-strap-cushion { fill: #FFF; }
.heroicon-headphones-hinges { fill: #FFF; }
.heroicon-headphones-ear-covers { fill: #FFF; }
.heroicon-headphones-muffs { fill: #FFF; }


.heroicon-headset-muffs { fill: #FFF; }
.heroicon-headset-hinges { fill: #FFF; }
.heroicon-headset-strap-cushion { fill: #FFF; }
.heroicon-headset-microphone { fill: #FFF; }
.heroicon-headset-strap { fill: #FFF; }
.heroicon-headset-ear-covers { fill: #FFF; }


.heroicon-heart-outer { fill: #FFF; }
.heroicon-heart-inner { fill: #FFF; }


.heroicon-home-wall { fill: #FFF; }
.heroicon-home-roof { fill: #FFF; }
.heroicon-home-frames { fill: #FFF; }
.heroicon-home-door { fill: #FFF; }
.heroicon-home-windows { fill: #FFF; }
.heroicon-home-parging { fill: #FFF; }


.heroicon-hourglass-frame { fill: #FFF; }
.heroicon-hourglass-glass { fill: #FFF; }
.heroicon-hourglass-sand { fill: #FFF; }


.heroicon-identification-top { fill: #FFF; }
.heroicon-identification-clip { fill: #FFF; }
.heroicon-identification-card { fill: #FFF; }
.heroicon-identification-photo-background { fill: #FFF; }
.heroicon-identification-photo-user-top { fill: #FFF; }
.heroicon-identification-photo-user-face { fill: #FFF; }


.heroicon-inbox-box { fill: #FFF; }
.heroicon-inbox-pages { fill: #FFF; }


.heroicon-information-edge { fill: #FFF; }
.heroicon-information-background { fill: #FFF; }
.heroicon-information-symbol { fill: #FFF; }


.heroicon-landmark-background { fill: #FFF; }
.heroicon-landmark-peak-outer { fill: #FFF; }
.heroicon-landmark-peak-inner { fill: #FFF; }
.heroicon-landmark-stairs { fill: #FFF; }
.heroicon-landmark-column-base { fill: #FFF; }
.heroicon-landmark-columns { fill: #FFF; }


.heroicon-laptop-body { fill: #FFF; }
.heroicon-laptop-screen-edge { fill: #FFF; }
.heroicon-laptop-screen { fill: #FFF; }


.heroicon-launch-ship { fill: #FFF; }
.heroicon-launch-ship-wings { fill: #FFF; }
.heroicon-launch-rocket-tank { fill: #FFF; }
.heroicon-launch-boosters { fill: #FFF; }
.heroicon-launch-ship-stabilizer { fill: #FFF; }
/*Large icons only*/
.heroicon-launch-tank-nose { fill: #FFF; }
.heroicon-launch-ship-nose { fill: #FFF; }


.heroicon-lightbulb-bulb { fill: #FFF; }
.heroicon-lightbulb-screw { fill: #FFF; }
.heroicon-lightbulb-source { fill: #FFF; }


.heroicon-load-balancer-box-bottom { fill: #FFF; }
.heroicon-load-balancer-boxes-top { fill: #FFF; }
.heroicon-load-balancer-cords { fill: #FFF; }


.heroicon-lightning-front { fill: #FFF; }
.heroicon-lightning-side { fill: #FFF; }


.heroicon-lock-body { fill: #FFF; }
.heroicon-lock-top { fill: #FFF; }


.heroicon-magnify-glass-edge { fill: #FFF; }
.heroicon-magnify-glass { fill: #FFF; }
.heroicon-magnify-handle { fill: #FFF; }
.heroicon-magnify-handle-connector { fill: #FFF; }
.heroicon-magnify-handle-edge { fill: #FFF; }


.heroicon-male1-top { fill: #FFF; }
.heroicon-male1-collar { fill: #FFF; }
.heroicon-male1-hair { fill: #FFF; }
.heroicon-male1-face { fill: #FFF; }
.heroicon-male1-mouth { fill: #FFF; }
.heroicon-male1-teeth { fill: #FFF; }


.heroicon-male2-top { fill: #FFF; }
.heroicon-male2-collar { fill: #FFF; }
.heroicon-male2-hair { fill: #FFF; }
.heroicon-male2-face { fill: #FFF; }
.heroicon-male2-mouth { fill: #FFF; }
.heroicon-male2-teeth { fill: #FFF; }
/*Large icons only*/
.heroicon-male2-tongue { fill: #FFF; }


.heroicon-map-outer { fill: #FFF; }
.heroicon-map-inner { fill: #FFF; }
.heroicon-map-pin { fill: #FFF; }


.heroicon-media-buttons-play-circle { fill: #FFF; }
.heroicon-media-buttons-pause-circle { fill: #FFF; }
.heroicon-media-buttons-back-circle { fill: #FFF; }
.heroicon-media-buttons-forward-circle { fill: #FFF; }
.heroicon-media-buttons-play-symbol  { fill: #FFF; }
.heroicon-media-buttons-pause-symbol { fill: #FFF; }
.heroicon-media-buttons-back-symbol { fill: #FFF; }
.heroicon-media-buttons-forward-symbol { fill: #FFF; }


.heroicon-media-player-chrome { fill: #FFF; }
.heroicon-media-player-video { fill: #FFF; }
.heroicon-media-player-play-circle { fill: #FFF; }
.heroicon-media-player-play-symbol { fill: #FFF; }
.heroicon-media-player-controls { fill: #FFF; }


.heroicon-memory-board { fill: #FFF; }
.heroicon-memory-chip-pins { fill: #FFF; }
.heroicon-memory-chip { fill: #FFF; }


.heroicon-microphone-stand { fill: #FFF; }
.heroicon-microphone-housing { fill: #FFF; }


.heroicon-microscope-base { fill: #FFF; }
.heroicon-microscope-tube { fill: #FFF; }
.heroicon-microscope-stage { fill: #FFF; }
.heroicon-microscope-arm { fill: #FFF; }
.heroicon-microscope-ocular { fill: #FFF; }
.heroicon-microscope-lens { fill: #FFF; }
.heroicon-microscope-mirror { fill: #FFF; }


.heroicon-monitor-edge { fill: #FFF; }
.heroicon-monitor-screen { fill: #FFF; }


.heroicon-multitask-knife-housing { fill: #FFF; }
.heroicon-multitask-knife-knives { fill: #FFF; }
.heroicon-multitask-knife-front-details { fill: #FFF; }


.heroicon-network-interior { fill: #FFF; }
.heroicon-network-exterior { fill: #FFF; }


.heroicon-news-paper { fill: #FFF; }
.heroicon-news-top-image { fill: #FFF; }
.heroicon-news-bottom-image { fill: #FFF; }


.heroicon-notepad-binding { fill: #FFF; }
.heroicon-notepad-pages { fill: #FFF; }
/*Large icons only*/
.heroicon-notepad-pen-housing { fill: #FFF; }
.heroicon-notepad-pen-button { fill: #FFF; }
.heroicon-notepad-pen-grip { fill: #FFF; }


.heroicon-package-box { fill: #FFF; }
.heroicon-package-lid { fill: #FFF; }
.heroicon-package-handle { fill: #FFF; }


.heroicon-paint-brush-bristles { fill: #FFF; }
.heroicon-paint-brush-paint { fill: #FFF; }
.heroicon-paint-brush-ferrule { fill: #FFF; }
.heroicon-paint-brush-handle { fill: #FFF; }


.heroicon-paper-airplane-background { fill: #FFF; }
.heroicon-paper-airplane-stripes { fill: #FFF; }


.heroicon-phone-screen { fill: #FFF; }
/*Small icons only*/
.heroicon-phone-edge { fill: #FFF; }
/*Large icons only*/
.heroicon-phone-edge-outer { fill: #FFF; }
.heroicon-phone-edge-inner { fill: #FFF; }
.heroicon-phone-button { fill: #FFF; }


.heroicon-phone-alert-screen { fill: #FFF; }
.heroicon-phone-alert-circle { fill: #FFF; }
.heroicon-phone-alert-symbol { fill: #FFF; }
/*Small icons only*/
.heroicon-phone-alert-edge { fill: #FFF; }
/*Large icons only*/
.heroicon-phone-alert-edge-outer { fill: #FFF; }
.heroicon-phone-alert-edge-inner { fill: #FFF; }
.heroicon-phone-alert-button { fill: #FFF; }


.heroicon-phone-chat-screen { fill: #FFF; }
.heroicon-phone-chat-bubbles { fill: #FFF; }
.heroicon-phone-chat-dots { fill: #FFF; }
/*Small icons only*/
.heroicon-phone-chat-edge { fill: #FFF; }
/*Large icons only*/
.heroicon-phone-chat-edge-outer { fill: #FFF; }
.heroicon-phone-chat-edge-inner { fill: #FFF; }
.heroicon-phone-chat-button { fill: #FFF; }


.heroicon-phone-wifi-screen { fill: #FFF; }
.heroicon-phone-wifi-symbol { fill: #FFF; }
/*Small icons only*/
.heroicon-phone-wifi-edge { fill: #FFF; }
/*Large icons only*/
.heroicon-phone-wifi-edge-outer { fill: #FFF; }
.heroicon-phone-wifi-edge-inner { fill: #FFF; }
.heroicon-phone-wifi-button { fill: #FFF; }


.heroicon-photos-edge { fill: #FFF; }
.heroicon-photos-back-background { fill: #FFF; }
.heroicon-photos-front-ground { fill: #FFF; }
.heroicon-photos-front-sky { fill: #FFF; }
.heroicon-photos-front-sun { fill: #FFF; }
.heroicon-photos-front-mountains { fill: #FFF; }


.heroicon-pie-chart-slice-1 { fill: #FFF; }
.heroicon-pie-chart-slice-2 { fill: #FFF; }
.heroicon-pie-chart-slice-3 { fill: #FFF; }


.heroicon-printer-body { fill: #FFF; }
.heroicon-printer-holder { fill: #FFF; }
.heroicon-printer-guard { fill: #FFF; }
.heroicon-printer-base { fill: #FFF; }
.heroicon-printer-lights { fill: #FFF; }
.heroicon-printer-pages { fill: #FFF; }


.heroicon-puzzle-bottom-right { fill: #FFF; }
.heroicon-puzzle-top-left { fill: #FFF; }
.heroicon-puzzle-bottom-left { fill: #FFF; }
.heroicon-puzzle-top-right { fill: #FFF; }


.heroicon-quill-ink { fill: #FFF; }
.heroicon-quill-feather { fill: #FFF; }
.heroicon-quill-tip { fill: #FFF; }


.heroicon-radio-housing-outer { fill: #FFF; }
.heroicon-radio-housing-inner { fill: #FFF; }
.heroicon-radio-interface-background { fill: #FFF; }
.heroicon-radio-speaker { fill: #FFF; }
.heroicon-radio-handle-bar { fill: #FFF; }
.heroicon-radio-handle-connector { fill: #FFF; } 
.heroicon-radio-handle { fill: #FFF; }
.heroicon-radio-knobs { fill: #FFF; }
.heroicon-radio-controls { fill: #FFF; }
.heroicon-radio-dial { fill: #FFF; }


.heroicon-repair-bottom { fill: #FFF; }
.heroicon-repair-top { fill: #FFF; }


.heroicon-safe-casing { fill: #FFF; }
.heroicon-safe-door { fill: #FFF; }
.heroicon-safe-hinges { fill: #FFF; }
.heroicon-safe-lock-outer { fill: #FFF; }
.heroicon-safe-lock-inner { fill: #FFF; }
.heroicon-safe-lock-knob { fill: #FFF; }
.heroicon-safe-handle { fill: #FFF; }


.heroicon-server-housing { fill: #FFF; }
.heroicon-server-boxes { fill: #FFF; }
.heroicon-server-controls { fill: #FFF; }


.heroicon-shield-check-edge { fill: #FFF; }
.heroicon-shield-check-background { fill: #FFF; }
.heroicon-shield-check-circle { fill: #FFF; }
.heroicon-shield-check-mark { fill: #FFF; }


.heroicon-shield-lock-edge { fill: #FFF; }
.heroicon-shield-lock-background { fill: #FFF; }
.heroicon-shield-lock-circle { fill: #FFF; }
.heroicon-shield-lock-symbol { fill: #FFF; }


.heroicon-shop-wall { fill: #FFF; }
.heroicon-shop-windows { fill: #FFF; }
.heroicon-shop-cover-fill { fill: #FFF; }
.heroicon-shop-cover-stripes { fill: #FFF; }
.heroicon-shop-frames { fill: #FFF; }
.heroicon-shop-door { fill: #FFF; }
.heroicon-shop-roof { fill: #FFF; }


.heroicon-shredder-body { fill: #FFF; }
.heroicon-shredder-top { fill: #FFF; }
.heroicon-shredder-lights { fill: #FFF; }
.heroicon-shredder-page { fill: #FFF; }


.heroicon-sign-post { fill: #FFF; }
.heroicon-sign-bottom { fill: #FFF; }
.heroicon-sign-top { fill: #FFF; }


.heroicon-speedometer-edge { fill: #FFF; }
.heroicon-speedometer-background { fill: #FFF; }
.heroicon-speedometer-gauge { fill: #FFF; }
.heroicon-speedometer-reading { fill: #FFF; }
.heroicon-speedometer-needle { fill: #FFF; }


.heroicon-stethoscope-eartips { fill: #FFF; }
.heroicon-stethoscope-chestpiece { fill: #FFF; }
.heroicon-stethoscope-tube { fill: #FFF; }


.heroicon-surveillance-camera { fill: #FFF; }
.heroicon-surveillance-cover { fill: #FFF; }
.heroicon-surveillance-cover-accent { fill: #FFF; }
.heroicon-surveillance-housing { fill: #FFF; }
.heroicon-surveillance-housing-accent { fill: #FFF; }
.heroicon-surveillance-mount { fill: #FFF; }
.heroicon-surveillance-hinge { fill: #FFF; }


.heroicon-swatch-background { fill: #FFF; }
.heroicon-swatch-color-1-1 { fill: #FFF; }
.heroicon-swatch-color-1-2 { fill: #FFF; }
.heroicon-swatch-color-1-3 { fill: #FFF; }
.heroicon-swatch-color-1-4 { fill: #FFF; }
.heroicon-swatch-color-2-1 { fill: #FFF; }
.heroicon-swatch-color-2-2 { fill: #FFF; }
.heroicon-swatch-color-2-3 { fill: #FFF; }
.heroicon-swatch-color-2-4 { fill: #FFF; }
.heroicon-swatch-color-3-1 { fill: #FFF; }
.heroicon-swatch-color-3-2 { fill: #FFF; }
.heroicon-swatch-color-3-3 { fill: #FFF; }
.heroicon-swatch-color-3-4 { fill: #FFF; }
.heroicon-swatch-color-4-1 { fill: #FFF; }
.heroicon-swatch-color-4-2 { fill: #FFF; }
.heroicon-swatch-color-4-3 { fill: #FFF; }
.heroicon-swatch-color-4-4 { fill: #FFF; }


.heroicon-tablet-edge { fill: #FFF; }
.heroicon-tablet-screen { fill: #FFF; }
/*Large icons only*/
.heroicon-tablet-edge-outer { fill: #FFF; }
.heroicon-tablet-edge-inner { fill: #FFF; }
.heroicon-tablet-button { fill: #FFF; }


.heroicon-tag-background { fill: #FFF; }
.heroicon-tag-description-border { fill: #FFF; }
.heroicon-tag-description { fill: #FFF; }
.heroicon-tag-hole { fill: #FFF; }


.heroicon-target-background { fill: #FFF; }
.heroicon-target-stripes { fill: #FFF; }
.heroicon-target-arrow { fill: #FFF; }


.heroicon-thermometer-reading { fill: #FFF; }
.heroicon-thermometer-tube { fill: #FFF; }
.heroicon-thermometer-liquid { fill: #FFF; }


.heroicon-thumbs-down-hand { fill: #FFF; }
.heroicon-thumbs-down-sleeve { fill: #FFF; }


.heroicon-thumbs-up-hand { fill: #FFF; }
.heroicon-thumbs-up-sleeve { fill: #FFF; }


.heroicon-ticket-outer { fill: #FFF; }
.heroicon-ticket-inner { fill: #FFF; }
.heroicon-ticket-star { fill: #FFF; }


.heroicon-tools-screwdriver-handle { fill: #FFF; }
.heroicon-tools-hammer-handle { fill: #FFF; }
.heroicon-tools-screwdriver-head { fill: #FFF; }
.heroicon-tools-hammer-head { fill: #FFF; }


.heroicon-trash-can { fill: #FFF; }
.heroicon-trash-lid { fill: #FFF; }


.heroicon-trophy-cup { fill: #FFF; }
.heroicon-trophy-stand { fill: #FFF; }
.heroicon-trophy-plaque { fill: #FFF; }


.heroicon-user-top { fill: #FFF; }
.heroicon-user-face { fill: #FFF; }


.heroicon-user-block-top { fill: #FFF; }
.heroicon-user-block-face { fill: #FFF; }
.heroicon-user-block-circle { fill: #FFF; }
.heroicon-user-block-symbol { fill: #FFF; }


.heroicon-user-check-top { fill: #FFF; }
.heroicon-user-check-face { fill: #FFF; }
.heroicon-user-check-circle { fill: #FFF; }
.heroicon-user-check-symbol { fill: #FFF; }


.heroicon-user-edit-top { fill: #FFF; }
.heroicon-user-edit-face { fill: #FFF; }
.heroicon-user-edit-circle { fill: #FFF; }
.heroicon-user-edit-symbol { fill: #FFF; }


.heroicon-user-lock-top { fill: #FFF; }
.heroicon-user-lock-face { fill: #FFF; }
.heroicon-user-lock-circle { fill: #FFF; }
.heroicon-user-lock-symbol { fill: #FFF; }


.heroicon-user-minus-top { fill: #FFF; }
.heroicon-user-minus-face { fill: #FFF; }
.heroicon-user-minus-circle { fill: #FFF; }
.heroicon-user-minus-symbol { fill: #FFF; }


.heroicon-user-plus-top { fill: #FFF; }
.heroicon-user-plus-face { fill: #FFF; }
.heroicon-user-plus-circle { fill: #FFF; }
.heroicon-user-plus-symbol { fill: #FFF; }


.heroicon-user-search-top { fill: #FFF; }
.heroicon-user-search-face { fill: #FFF; }
.heroicon-user-search-circle { fill: #FFF; }
.heroicon-user-search-symbol { fill: #FFF; }


.heroicon-user-sync-top { fill: #FFF; }
.heroicon-user-sync-face { fill: #FFF; }
.heroicon-user-sync-circle { fill: #FFF; }
.heroicon-user-sync-symbol { fill: #FFF; }


.heroicon-user-x-top { fill: #FFF; }
.heroicon-user-x-face { fill: #FFF; }
.heroicon-user-x-circle { fill: #FFF; }
.heroicon-user-x-symbol { fill: #FFF; }


.heroicon-wallet-cover { fill: #FFF; }
.heroicon-wallet-strap { fill: #FFF; }
.heroicon-wallet-snap { fill: #FFF; }
.heroicon-wallet-cash { fill: #FFF; }