body {
  background-color: #f7f3e8; }

.heroicon-outline {
  fill: #6f5947; }

.heroicon-component-fill {
  fill: #FFF; }

.heroicon-component-accent {
  fill: #FC953F; }

.heroicon-shadows {
  display: none; }
