body {
  background-color: #f3fafc; }

.heroicon-outline {
  fill: #4924ad; }

.heroicon-component-fill {
  fill: white; }

.heroicon-component-accent {
  fill: #5BD0FB; }

.heroicon-shadows {
  fill: black;
  opacity: .2; }
